* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

header {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
    padding: 0 10rem;
    z-index: 999;
}

.logo img {
    width: 8rem;
}

.aabningstider,
.logind {
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    margin-left: 20px;
}

.aabningstider {
    background-color: #d1d1d1;
    transition: .5s;
}

.aabningstider:hover {
    background-color: #79BA00;
}

.logind {
    background-color: #79BA00;
    transition: .5s;
}

.logind:hover {
    background-color: #505050;
    color: white;
}


nav a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    transition: .5s;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
    padding: 0 10rem;
    background-color: #79BA00;
}

.topnav a {
    padding: 3px 0;
    margin-right: 20px;
}

.pri-nav {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.pri-nav a:hover,
.sec-nav a:hover {
    color: #ffffff;
}

.sec-nav a {
    font-size: 16px;
}

.toplower {
    display: flex;
    width: 100%;
    background-color: #000000;
    padding: .3rem 0;
    align-items: center;
    justify-content: space-between;

}

.soegefelt {
    background-color: #000000;
    padding: 10px 0;
}

.some {
    margin-right: 125px;
}

.some img {
    width: 30px;
    float: left;
    height: 30px;
    margin-right: 16px;
}

form.example {
    width: 800px;
    margin-left: 155px;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
    border-radius: 5px 0 0 5px;
}

form.example select {
    float: left;
    width: 20%;
    padding: 9.6px;
    background: #f1f1f1;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    transition: .5s;
}

form.example button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #79BA00;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0px;
    transition: .5s;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

/* ----- Chat box kode start ----- */
.btn {
    float: right;
    margin-top: 175px;
}

.myBtn {
    position: fixed;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: #79BA00;
    border: none;
    display: flex;
    float: right;
    margin-top: 30px;
    margin-left: 72.5rem;
    ;

}

.modal {
    float: right;
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.modal-content h2 {
    margin-top: 20px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.contakt {
    color: #ffffff;
    padding: 1rem;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 0.8rem;
    border: 2px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
}

input[type=submit] {
    font-size: 16px;
    background-color: #195796;
    color: #000;
    padding: 12px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #79BA00;
}

.contakt-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
}

label {
    color: #000;
}


/* ----- chatbox slut ----- */


.nyheder {
    display: flex;
    flex-direction: column;
    padding: 0 150px;
    margin-top: 30px;
}

.nyheder h2 {
    margin-bottom: 20px;
}

.parent img {
    width: 100%;
    padding: 0 5px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 img {
    height: 400px;
}

.div1 {
    grid-area: 1 / 1 / 3 / 9;
}

.div2 {
    grid-area: 3 / 1 / 6 / 3;
}

.div3 {
    grid-area: 3 / 3 / 6 / 5;
}

.div4 {
    grid-area: 3 / 5 / 6 / 7;
}

.div5 {
    grid-area: 3 / 7 / 6 / 9;
}

.div2,
.div3,
.div4,
.div5 img {
    max-height: 155px;
}

.btn-vidre {
    background-color: #79BA00;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.arrangementer {
    margin: 40px 150px;
    display: flex;
    flex-direction: column;
}

.arrangement-content img {
    width: 300px;
    height: 300px;
    padding: 10px;
}

/* ----- Ebøger start ----- */

.eboeger-top {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    justify-content: center;
    align-content: center;
    margin-left: 175px;
    margin-right: 175px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.eboeger-top img {
    height: 300px;
    width: 100%;
}

.kategorier {
    text-align: center;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0px 175px;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    margin: 30px 0;
}

.kategorier a {
    background-color: #79BA00;
    padding: 20px 40px;
    color: #000000;
    text-decoration: none;
    width: 20%;
}

.eboeger-liste{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.liste-content {
    margin-bottom: 10px;
    width: 25%;
    height: 160px;
    padding: 10px 100px;
    
    text-overflow: ellipsis;
}

.liste-content li {
    list-style-type:none;
    padding-top: 15px;
}

.liste-content a {
    text-decoration: none;
    color: #000000;
}


/* ----- Footer start ----- */

footer {
    height: 340px;
}

footer h2 {
    margin-bottom: 15px;
    font-size: 20px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

ul.menu {
    border: none;
    list-style: none;
    text-align: left;
}

.footer {
    background-color: #262626;
    color: #ffffff;
}

.footer-inner {
    max-width: 1124px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 50px 0;
}

.footer-inner>.panel-pane:nth-child(4n+1) {
    clear: left;
}

.footer-inner>.panel-pane {
    float: left;
    display: block;
    margin-right: 2.4911%;
    width: 23.13167%;
}

.footer-inner>.panel-pane .pane-content ul {
    display: block;
}

.footer-inner>.panel-pane .pane-title {
    font-family: FaktPro-SemiBold, sans-serif;
    font-size: 18px;
    line-height: 24px;
    pointer-events: none;
}

.footer-inner>.panel-pane:nth-child(4n) {
    margin-right: 0;
}

/* ----- Footer stop ----- */